<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDClientID</key>
	<string>1099016530925-t6283hfs6kko1gfvgdovplvfean8sq1v.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.ranaveer.Arise</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>arise</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
